.container, .calendar{
    display: inline-flex;
    flex-wrap: wrap;
}
header {
    display: flex;
    align-content: stretch;
}

h1 {

    align-content: center;
}

#sign_up_in {
    display: flex;
  /*  flex-direction: row-reverse;*/
}